*{
  padding: 0;
  margin: 0;
}
header{
  color: white;
  background-color: rgb(160, 23, 23);
  text-align: center;
  padding: 24px;
}
.center{
  display: flex;
  justify-content: center;
}
.pokeDex{
  background-color: #fefefe;
}
.pokeDex h1,h2,h3,h4{
  color: rgb(160,23,23); 
}

.box {
  max-width: 750px;
  padding: 24px;
  margin: 12px 0px;
}
.box h2 {
  margin-bottom: 12px;
}

.box li{
  list-style-type: none;
  padding: 12px;
  border-bottom: 1px solid black;
}